[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DendSer"]
	path = DendSer
	url = https://github.com/cbhurley/dendser
[submodule "ERSA"]
	path = ERSA
	url = https://github.com/cran/ERSA
[submodule "PairViz"]
	path = PairViz
	url = https://github.com/cbhurley/pairviz
[submodule "bullseye"]
	path = bullseye
	url = https://github.com/cbhurley/bullseye
[submodule "condvis2"]
	path = condvis2
	url = https://github.com/cbhurley/condvis2
[submodule "gclus"]
	path = gclus
	url = https://github.com/cran/gclus
